<!DOCTYPE html>
<html>
    <head>
      <title>池袋ラーメン</title>
      <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'i_informations' , media: 'all',
        'data-turbolinks-track': 'reload' %>

    </head>
    
    <body>
        <%= yield %>
    </body>
</html>