<!DOCTYPE html>
<html>
  <head>
    <title>池袋のお店検索</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'stores',
        'data-turbolinks-track': 'reload' %>
            

        
  </head>

  <body>
      <%= yield %>
  </body>
</html>